body {
    margin: 0;
    padding: 0;
    clear: both;
    display: block;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1340px !important;
    margin: 0 auto;
}

.top_stick {
    background: #17232e;
}

.gray_bg {
    background: #f6f6f6;
    overflow: hidden;
}

.filter-search {
    font-size: 22px;
    color: #757575;
    padding: 20px 0 10px;
}

.filter-search span {
    color: #212121;
}

.bg_result {
    background: #fff;
    border-radius: 5px;
    margin: 0 0 20px;
    padding: 25px;
    clear: both;
    overflow: hidden;
}

.search-left-pennal {
    float: left;
    width: 60%;
}

.search-left-pennal .right-pennal {
    float: left;
    width: 78%;
}

.search-left-pennal .left-pennal {
    float: left;
    width: 22%;
}

.icon-bg {
    background: #f6f6f6;
    padding: 20px;
}


.search-left-pennal .right-pennal .right-pennal-inner-div {
    padding: 0 15px;
}

.search-left-pennal .right-pennal .right-text {
    color: #12b3a6;
    font-size: 18px;
    margin: 0;
    padding: 0 0 3px;
}

.search-left-pennal .right-pennal .lipid-text {
    font-size: 14px;
    margin: 0;
    padding: 0 0 5px;
}

.search-left-pennal .right-pennal .mini-text {
    color: #757575;
    font-size: 14px;
    margin: 0;
    padding: 0 0 5px;
}

.search-left-pennal .right-pennal .right-text span {
    color: #212121;
}

.search-right-pennal {
    float: right;
    width: 40%;
    padding-right: 15px;
}

.search-right-pennal ul.price {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-right-pennal ul.price li {
    color: #757575;
    font-size: 18px;
    float: right;
    text-decoration: line-through;
    padding-left: 15px;
    line-height: 30px;
    font-weight: 500;

}

.search-right-pennal ul.price li:last-child {
    color: #ff3a64;
    font-size: 22px;
    text-decoration: none;
}

.search-right-pennal ul.price li:first-child {
    color: #16c4b6;
    font-size: 14px;
    text-decoration: none;
}

ul.btn-details {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.btn-details li {
    float: right;
    margin-left: 10px;
    padding-top: 15px;
}

ul.btn-details li:last-child {
    margin: 0;
}

ul.stick_menu {
    list-style: none;
    margin: 0;
    padding: 0;
    clear: both;
    float: right;
}

ul.stick_menu li {
    float: left;
    font-size: 14px;
    color: #16c4b6;
    font-weight: normal;
    padding: 10px 15px;
}

ul.stick_menu li a {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

ul.stick_menu li i {
    margin-right: 15px;
}

ul.stick_menu li .phone_icon {
    background: #263543;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
}

ul.stick_menu li .mail_icon {
    background: #263543;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
}

.middle_header {
    background: #151f29;
}

.logo {
    padding: 25px 0 15px;
}

.btn_download {
    background: none;
    border: solid 2px #16c4b6;
    margin-top: 30px;
}

ul.middle_right_section {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}

ul.middle_right_section li {
    float: left;
    margin: 0 15px;
}

ul.middle_right_section li a {
    font-size: 14px;
    color: #16c4b6;
    font-weight: normal;
}

ul.middle_right_section li a:hover {
    background: none;
    border: solid 2px #16c4b6;
}

ul.middle_right_section li .login {
    float: left;
    padding: 0 15px;
}

ul.middle_right_section li .login a:hover {
    border: none;
}

ul.middle_right_section li .login a {
    color: #c2cdd7;
    font-size: 12px;
    padding-right: 15px;
    line-height: 30px;
    padding-top: 15px;
    text-align: right;
}

.login_email {
    text-align: right;
}

.login .icon {
    font-size: 18px;
    color: #a5a5a5;
    padding-top: 10px;
}

.login_email span {
    color: #16c4b6;
    font-size: 14px;
    display: block;
    padding-bottom: 8px;
}

.menu_bar {
    background: #17232e;
}

.navbar_menu {
    background: #17232e;
    border-radius: 0;
    border: none;
    margin: 0;
}

ul.header_menu li a {
    font-size: 14px;
    text-transform: uppercase;
    color: #c2cdd7 !important;
    padding: 30px;
}

ul.header_menu li.active a {
    border-bottom: solid 2px #16c4b6;
    color: #16c4b6 !important;
    background: #17232e !important;
}

ul.header_menu li a:hover {
    border-bottom: solid 2px #16c4b6;
    color: #16c4b6 !important;
}

.bg_bennar {
    background: url(../images/bg_bennar.png) no-repeat 0 0;
    width: 100%;
}

.heading_h1 h1 {
    font-size: 36px;
    text-align: center;
    margin: 0;
    padding: 140px 0 0;
    color: #fff;
}

.heading_h1 p {
    padding: 0 0 20px;
    margin: 0;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.tranprent_bg {
    background-color: rgba(0, 0, 0, 0.3);
    clear: both;
    margin-bottom: 80px;
}

.tranprent_bg ul.lab_menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.tranprent_bg ul.lab_menu li {
    display: inline-block;
}

.tranprent_bg ul.lab_menu li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 15px;
    display: block;
}

.tranprent_bg ul.lab_menu li a.active {
    border-bottom: solid 1px #16c4b6;
}

.search_btn {
    text-transform: uppercase;
    font-size: 14px;
    background: #FF0012;
    color: #fff;
    border-color: #FF0012
}

.search_btn:hover {
    background: #FF0012;
    border-color: #FF0012;
    color: #fff;
}

.search_bar {
    padding: 20px 0 40px;
    clear: both;
}

.deals_pennal {
    background: #16c4b6;
    position: relative;
}

.deals_slid {
    clear: both;
    display: block;
    margin: 0;
}

.deals_slid ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style: none;
}

.deals_slid ul li {
    float: left;
    padding: 0;
    margin: 1% 1%;
    width: 23%;
    background: #fff;
    border-radius: 5px;
}

.deals_h3 {
    color: #212121;
    font-size: 22px;
    text-align: center;
    margin: 0;
    font-weight: bold;
    padding: 0;
    line-height: 30px;
}

.img_1 img {
    padding: 20px 15px;
}

.deals_price {
    text-align: center;
    margin: 15px 0;
}

.deals_price a {
    background: none;
    color: #16c4b6;
    font-size: 16px;
    border: solid 1px #30cabe;
}

.deals_price a:hover {
    background: none;
    color: #16c4b6;
    font-size: 16px;
    border: solid 1px #30cabe;
}

.deals_slid ul li .deals_unorder_list {
    margin: 0;
    padding: 0;
    clear: both;
}

.deals_slid ul li .deals_unorder_list p {
    list-style: none;
    margin: 0;
    line-height: 25px;
    padding: 0 15px 5px;
}

.bg_color {
    background: #17232e;
    overflow: hidden;
    padding: 10px 0;
    margin-top: 40px;
    border-radius: 0 0 5px 5px;
}

.view_btn {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.buy_btn {
    color: #fff;
    font-size: 14px;
    background: #ff3a64;
    padding: 15px 20px;
    border-color: #ff3a64;
    font-weight: bold;
}

.headine {
    font-size: 30px;
    color: #fff;
    margin: 0;
    text-align: center;
    padding: 50px 0 10px;
}

.day_time {
    clear: both;
    display: block;
    padding-bottom: 50px;
}

.day_time ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.day_time ul li {
    background: #fff;
    color: #000;
    padding: 2px 5px;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
}

.day_time ul li.bg_none {
    background: none;
    color: #fff;
}

.slid_btn_bottom {
    margin: 40px 0 50px;
}

.slid_btn_bottom a {
    border: solid 2px #fff;
    background: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 10px 40px;
}

.slid_btn_bottom a:hover {
    border: solid 2px #fff;
    background: none;
    color: #fff
}

.btn_slider {
    background: #e5f9f7;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.btn_slider a {
    text-align: center;
    line-height: 40px;
    color: #cfdcdb;
}

.arrow_btn {
    position: absolute;
    top: 50%;
    left: 2%;
}

.arrow_btn1 {
    position: absolute;
    top: 50%;
    right: 2%;
}

.package_pennal {
    background: #f6f6f6;
    position: relative;
}

.headine2 {
    font-size: 24px;
    margin: 0;
    color: #212121;
    padding: 50px 0 10px;
    font-weight: bold;
}

.headine2 span {
    font-weight: normal;
    color: #7c7c7c;
}

.border_bottom {
    border-bottom: 3px solid #ff3a64;
    width: 150px;
    margin: auto;
}

.deals_slid1 {
    clear: both;
    display: block;
    margin: 0;
    padding: 50px 0 0;
}

.deals_slid1 {
    clear: both;
    display: block;
    margin: 0;
}

.deals_slid1 ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style: none;
}

.deals_slid1 ul li {
    float: left;
    padding: 0;
    min-height: 560px;
    margin: 1% 1%;
    width: 23%;
    background: #fff;
    border-radius: 5px;
}

.deals_slid1 ul li.active {
    border: solid 1px #16c4b6;
}

.deals_slid1 ul li:hover {
    border: solid 1px #16c4b6;
}

.deals_slid1.deals_h3 {
    color: #212121;
    font-size: 22px;
    text-align: center;
    margin: 0;
    font-weight: bold;
    padding: 0;
    line-height: 30px;
}

.deals_slid1.deals_price a:hover {
    background: none;
    color: #16c4b6;
    font-size: 16px;
    border: solid 1px #30cabe;
}

.deals_slid1 ul li .deals_unorder_list {
    margin: 0;
    padding: 0;
    clear: both;
}

.deals_slid1 ul li .deals_unorder_list p {
    list-style: none;
    margin: 0;
    line-height: 25px;
    padding: 0 15px 5px;
}

.arrow_btn3 {
    position: absolute;
    top: 50%;
    left: 2%;
}

.btn_slider1 {
    background: #fff;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.btn_slider1 a {
    text-align: center;
    line-height: 40px;
    color: #cfdcdb;
}

.arrow_btn4 {
    position: absolute;
    top: 50%;
    right: 2%;
}

.btn_slider1 {
    background: #fff;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
}

.btn_slider1 a {
    text-align: center;
    line-height: 40px;
    color: #cfdcdb;
}

.slid_btn_bottom1 {
    margin: 40px 0 50px;
}

.slid_btn_bottom1 a {
    border: solid 2px #16c4b6;
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    color: #16c4b6;
    padding: 10px 40px;
}

.featured_box {
    background: #16c4b6;
    border-radius: 5px;
    margin: 40px 0;
}

.circle_img {
    padding: 50px 0 20px;
}

.haddng_four {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0 15px;
}

.doctors_mbbs {
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    margin: 0;
    text-align: center;
}

ul.star_icon {
    list-style: none;
    margin: 0;
    padding: 0 15px;
    clear: both;
    text-align: center;
}

ul.star_icon li {
    display: inline-block;
    margin: 0 5px;
    font-size: 20px;
    font-weight: bold;
    color: #fffa7a;
}

ul.star_icon li a {
    color: #fffa7a;
    font-size: 20px;
    font-weight: bold;
}

ul.star_icon li span {
    font-weight: bold;
    color: #fff;
}

ul.star_icon li a.active {
    color: #67eadf;
}

.years {
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
}

.address {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    padding: 0 15px;
    text-align: center;
}

.bg_color1 {
    background: #17232e;
    overflow: hidden;
    padding: 10px 0;
    margin-top: 30px;
    border-radius: 0 0 5px 5px;
}

.view_btn1 {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.view_btn:hover {
    color: #fff;
}

.buy_btn1 {
    color: #fff;
    font-size: 14px;
    background: #ff3a64;
    padding: 15px 20px;
    border-color: #ff3a64;
    font-weight: bold;
}

.buy_btn1:hover {
    color: #fff;
    font-size: 14px;
    background: #ff3a64;
    padding: 15px 20px;
    border-color: #ff3a64;
    font-weight: bold;
}

.our_story {
    font-size: 16px;
    color: #888;
    font-weight: normal;
    padding: 40px 0 0;
    text-transform: uppercase;
}

.we_about {
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0;
    color: #23b5b9;
}

.we_about span {
    color: #888;
}

.handle {
    color: #505050;
    font-size: 18px;
    padding-bottom: 10px;
}

.handle i {
    color: #f15c58;
    font-weight: bold;
}

.praghraf {
    font-size: 16px;
    color: #d3d3d3;
    padding-bottom: 20px;
    text-align: justify;
    line-height: 24px;
}

.view_service {
    margin: 20px 0 80px
}

.view_service a {
    background: #ff3a64;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 50px
}

.view_service a:hover {
    padding: 15px 50px;
}

.blue_pennal {
    background: #23b5b9;
    padding-bottom: 90px;
    position: relative;
}

.patients {
    margin: 0;
    padding: 60px 0 10px;
    font-weight: normal;
    font-size: 40px;
    color: #fff;
}

.patients span {
    font-weight: bold;
}

.ornare {
    font-size: 16px;
    padding: 5px 0 50px;
    margin: 0;
    color: #fff;
}

.bg_whit {
    background: #fff;
    overflow: hidden;
}

.bg_whit .left {
    float: left;
    width: 15%;
    padding-top: 20px;
}

.bg_whit .right {
    float: left;
    width: 85%;
}

.bg_whit i {
    background: #f15c58;
    padding: 20px;
    color: #fff;
    font-size: 20px
}

.bg_whit .right p {
    padding: 25px 15px 40px 5px;
    text-align: justify;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
}

.arrow_whit {
    width: 0;
    height: 0;
    border-top: 25px solid #fff;
    border-right: 30px solid transparent;
    margin-left: 45px;
}

.left_img_circle {
    float: left;
    padding: 30px 0 90px;
}

.left_img_circle img {
    border: solid 2px #fff;
    border-radius: 50%;
}

.right_text_start {
    float: left;
}

.right_text_start p {
    color: #fff;
    font-size: 20px;
    padding: 40px 20px 3px;
    margin: 0
}

.right_text_start ul {
    list-style: none;
    margin: 0;
    padding: 0 15px;
}

.right_text_start ul li {
    float: left;
    margin: 0 5px;
}

.right_text_start ul li a {
    color: #fcc71f;
    font-size: 20px;
}

.headine6 {
    font-size: 24px;
    margin: 0;
    color: #23b5b9;
    padding: 50px 0 10px;
    font-weight: bold;
}

.headine6 span {
    color: #505050;
}

.envents_pragh {
    font-size: 14px;
    color: #b6b6b6;
}

.george {
    text-transform: uppercase;
    font-size: 16px;
    color: #23b5b9;
    margin: 0;
    font-weight: bold;
}

.date_feb {
    font-size: 14px;
    font-weight: normal;
    color: #e7e7e7;
    padding: 10px 0;
    margin: 0
}

.date_praghars {
    font-size: 14px;
    line-height: 24px;
    color: #d3d3d3;
    padding: 0;
    margin: 0;
}

.samantha {
    text-transform: uppercase;
    font-size: 16px;
    color: #f15c58;
    margin: 0;
    font-weight: bold;
}

.news_btn {
    margin: 30px 0 70px;
}

.deals_slid_mrqu ul {
    list-style: none;
    margin: 0;
    padding: 40px 0 0;
}

.deals_slid_mrqu ul li {
    float: left;
    margin: 0 5px;
}

.arrow_btn6 {
    position: absolute;
    top: 40%;
    left: 2%;
}

.arrow_btn7 {
    position: absolute;
    top: 40%;
    right: 2%;
}

.blue_pennal2 {
    background: #23b5b9;
    padding-bottom: 30px;
    position: relative;
}

.btn_slider_btn {
    background: #fff;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.btn_slider_btn a {
    text-align: center;
    line-height: 30px;
    color: #cfdcdb;
}

.btn_slider_btn a i {
    font-size: 12px;
    color: #23b5b9;
}

.btn_slider_btn_rgt {
    background: #f15c58;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.btn_slider_btn_rgt a {
    text-align: center;
    line-height: 30px;
    color: #cfdcdb;
}

.btn_slider_btn_rgt a i {
    font-size: 12px;
    color: #fff;
}

.footer_pdg {
    padding: 50px 0;
}

.footer_logo {
    padding-bottom: 10px;
}

.footer_about {
    color: #fff;
    text-align: justify;
    padding-bottom: 15px;
    line-height: 24px;
    margin: 0
}

.read_more {
    margin: 30px 0;
}

.read_more a i {
    background-color: #23b6ba;
    color: #030303;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 4px;
    text-align: center;
}

.read_more a {
    color: #23b6ba;
    font-weight: bold;
    font-size: 14px;
}

.footer_middle {
    border-bottom: solid 1px #2f3943;
    overflow: hidden;
    margin-bottom: 20px;
}

.footer_middle .middle_left {
    float: left;
    width: 20%;
}

.footer_middle .middl_right {
    float: left;
    width: 75%;
    margin-left: 5%;
}

.midle_text {
    margin: 0;
    padding: 0 0 10px;
    font-size: 16px;
    color: #fff;
}

.midle_footer_text {
    color: #fff;
    font-size: 15px;
    padding: 0 0 15px;
    margin: 0;
}

.form_marg {
    margin-bottom: 25px;
    position: relative;
}

.frm_cntrol {
    background: #232e39;
    border-color: #232e39;
    padding: 25px 30px;
}

.form_marg a {
    background: #23b6b9;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    padding: 15px 30px;
}

ul.social_icon {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.social_icon li {
    float: left;
    margin-right: 20px;
}

ul.social_icon li a {
    color: #fff;
    font-size: 18px;
}

ul.social_icon li a.active {
    color: #23b6b9;
}

.footer_bottom {
    padding: 25px 0;
}

.copy_right {
    color: #fff;
    margin: 0;
}

/* call back */

.modal-get-callback {
    background: #f7f7f7;
    min-height: 500px;
    border-radius: 6px;
    margin: 90px auto;
    position: relative;
    display: table;
}

.modal-get-callback .linearGradient {
    position: relative;
    min-height: 500px;
    width: 190px;
    display: table-cell;
    /*border-radius: 6px;*/
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-image: linear-gradient(to bottom right, #16c4b6, #283e5b);
}

.modal-get-callback.login .linearGradient {
    width: 300px;
    padding: 30px;
    color: #fff;
    font-size: 12px;
}

.timer {
    position: absolute;
    right: 20px;
    top: 16px;
    color: #19b0a9;
    font-size: 14px;
}

.purple-color {
    color: #ff3a64;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 15px;
}

.position-top-80 {
    top: 80px;
    position: relative;
}

.linearGradient h5 {
    font-size: 18px;
    padding-top: 15px;
}

.linearGradient p {
    padding-bottom: 20px;
}

.linearGradient img.img {
    position: absolute;
    top: -93px;
    left: 6px;
}

.linearForm {
    font-size: 14px;
    padding: 60px 62px 20px;
    width: 500px;
    display: table-cell;
    text-align: center;
}

.form_field {
    position: relative;
    padding-bottom: 15px;
}

.formIcons {
    position: absolute;
    left: 16px;
    height: 20px;
    width: 20px;
    top: 15px;
    color: #6a727a;
    font-size: 20px;
}

.title-modal {
    font-size: 26px;
    padding-bottom: 10px;
    color: #434343;
}

.title-desc {
    font-size: 14px;
    padding-bottom: 10px;
    color: #757575;
}

.field_btn {
    color: #fff;
    font-size: 14px;
    background: #ff3a64;
    padding: 11px 20px;
    border-color: #ff3a64;
    font-weight: bold;
    border-radius: .25rem;
    box-sizing: border-box;
    width: 99%;
    box-shadow: 0px 0 10px #ff3a64;
}

.field_btn.withShadow {
    box-shadow: none;
}

.field_btn-aqua {
    color: #19b1a9;
    font-size: 14px;
    background: #fff;
    padding: 10px 20px;
    border-color: #19b1a9;
    border-width: 2px;
    font-weight: bold;
    border-radius: .25rem;
    box-sizing: border-box;
    width: 99%;
}

.field_btn-aqua:hover {
    color: #264b64;
    border-color: #264b64;
}

.field_btn-white {
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid #fff;
    font-weight: bold;
    border-radius: .25rem;
    box-sizing: border-box;
    width: 99%;
}

.field_btn-white:hover {
    color: #264b64;
    text-decoration: none;
}

.field_btn:hover {
    color: #691526;
}

.note-text {
    color: #757575;
    font-size: 12px;
    padding-top: 20px;
}

.padding-top-50px {
    padding-top: 50px;
}

.note-text a {
    color: #18b3ab;
}

.note-text a:hover {
    text-decoration: underline;
}

.input-field {
    background: #fff;
    border-color: #ededed;
    padding: 25px 50px;
    color: #212121;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.forgot-password {
    color: #ff3a64;
    text-decoration: none;
}

.forgot-password:hover {
    color: #333;
    text-decoration: none;
}

/* Detail Css Start */


.detail-bg {
    background: #f6f6f6;
    width: 100%;
}

.detail-white-bg {
    border-radius: 4px 0 0 4px;
    background: #fff;
    padding: 0 15px 15px;
}

.detail-btn-width {
    margin: auto;
}

.detail-btn-add ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.detail-btn-add ul li {
    float: left;
    width: 48%;
}

.detail-btn-add ul li a.btn-default1 {
    display: block;
    background: none;
    color: #16c4b6;
    font-size: 16px;
    border: solid 2px #30cabe;
}

.detail-btn-add ul li a.btn-default2 {
    display: block;
    background: #ff3a64;
    color: #fff;
    font-size: 16px;
    border: solid 2px #ff3a64;
}

.detail-btn-add ul li:first-child {
    margin-right: 2%
}

.detail-btn-add ul li:last-child {
    margin-left: 2%;
}

.bottom-btn {
    padding-top: 15px;
    clear: both;
}

.bottom-btn a {
    display: block;
    background: none;
    color: #000;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    border: solid 2px #8e98a1;
}

.lipid-star {
    color: #12b3a6;
    font-weight: bold;
    padding-top: 30px;
    font-size: 18px;
}

.lipid-star span {
    color: #000;
}

.detail-praghraph p {
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
    font-size: 14px;
}

ul.detail-star-icon {
    list-style: none;
    margin: 0;
    padding: 0;
    clear: both;
}

ul.detail-star-icon li {
    display: inline-block;
    margin: 0 2px;
    font-size: 20px;
    font-weight: bold;
    color: #fffa7a;
}

ul.detail-star-icon li a {
    color: #fffa7a;
    font-size: 20px;
    font-weight: bold;
}

ul.detail-star-icon li a.active {
    color: #e1e1e1;
}

ol.breacrrumb-detail {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol.breacrrumb-detail li {
    color: #000;
    font-weight: bold;
    padding: 15px 0;
}

ol.breacrrumb-detail li a {
    font-weight: bold;
    color: #979797;
    text-decoration: none;
}

/*10 pm 5 oct 2018*/

.detail-hadding {
    color: #212121;
    font-size: 18px;
    margin: 0;
    padding: 0 15px;
    line-height: 15px;
}

.detail-bg-dark {
    background: #f6f6f6;
    border-radius: 4px;
    padding: 15px;
    margin: 15px 0;
}

.detail-question {
    font-weight: bold;
    color: #212121;
    font-size: 14px;
    margin: 0;
    padding: 0 0 10px;
}

.detail-answer {
    font-weight: normal;
    color: #212121;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.detail-view a {
    color: #12b3a6;
    font-weight: normal;
    font-size: 14px;
}

.detail-similar {
    color: #212121;
    font-size: 18px;
    margin: 0;
    padding: 15px 0;
    line-height: 15px;
}

.detail-view {
    padding-bottom: 15px;
}

.cord-box {
    border: solid 1px #ddd;
    border-radius: 4px;
}

.card-imgli {
    padding: 0;
    margin: 0;
}

.card-txt {
    color: #212121;
    font-size: 14px;
    margin: 0;
    padding: 10px 10px 0;
}

.card-txt span {
    color: #8a8a8a;
}

ul.card-price {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.card-price li {
    color: #757575;
    font-size: 14px;
    float: left;
    text-decoration: line-through;
    padding-left: 10px;
    line-height: 30px;
    font-weight: 500;
}

ul.card-price li:first-child {
    color: #ff3a64;
    font-size: 16px;
    text-decoration: none;
}

ul.card-price li:last-child {
    color: #16c4b6;
    font-size: 14px;
    clear: both;
    line-height: 18px;
    padding-bottom: 10px;
    text-decoration: none;

/* Detail Css end Custom start */
